name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@v2.0.0

      - name: Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          fail: true

      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
